<template name="new_campaign">
  {{#autoForm collection="Campaigns" id="add_campaign_form" type="insert"}}
    <div class="container pt">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-4 col-lg-offset-3">
          <h6><small>Add your Campaign</small></h6>
          <div class="form-group">
            {{>afQuickField name="title"}}
          </div>

          <div class="form-group">
            {{>afQuickField name="description"}}
          </div>
          <div class="form-group">
            {{>afQuickField name="runDate"}}
          </div>
          <div class="form-group">
            {{>afQuickField name="runTag"}}
          </div>

          <button type="campaign_submit" class="btn btn-default action_buttons">Submit</button>
          <a href="/main/campaigns" class="btn btn-default action_buttons">Go Back</a>
        </div>
      </div>
    </div>
  {{/autoForm}}

</template>
