<template name="list_campaigns">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search" id="campaignSearch">
        <span class="input-group-addon" id="btnSearch">
          <i class="fa fa-search"></i>
        </span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <h6>
        <small>Your Campaigns - (Total {{getCampaignCount}}/{{getCampaignTotalCount}})</small>
      </h6>
      <a href="/main/campaigns/add" id="add_campaign" class="pull-right">
        <span>
          <i class="fa fa-plus action_buttons"> Add a Campaign</i>
        </span>
      </a>
    </div>
  </div>
  <br/>
  <br/>

  <div class="row">
    {{#each getMyCampaigns}}
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 small_card">
      <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4">
        <h6 class="main_value">
          <small>
            <a href="/main/campaigns/{{_id}}/edit">
              {{this.name}}
            </a>
          </small>
        </h6>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 hidden-xs hidden-sm hidden-md">
        <h6 class="secondary_value">
          <small>{{this.runDate}}</small>
        </h6>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 hidden-xs hidden-sm hidden-md">
        <h6 class="tertiary_value">
          <small>{{this.runTag.[0]}}</small>
        </h6>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style="right:-55px;">

        <td>
          <h6>
            <small><a href="#" id="run_campaign"><i class="fa fa-envelope card_action_buttons pull-right"></i></a></small>
          </h6>
        </td>

        <td>
          <h6>
            <small><a href="#" id="analyse_campaign"><i class="fa fa-bar-chart card_action_buttons pull-right"></i></a></small>
          </h6>
        </td>
      </div>

      <hr class="main_divider" />
    </div>
    {{/each}}
  </div>

  <div class="row">
    <a href="#" id="btnPrevious" class="btn btn-default btn-tiny">
      <i class="fa fa-arrow-left"></i>
      <span>Prev</span>
    </a>
    {{#unless loadedState}}
    <a href="#" id="btnNext" class="btn btn-default btn-tiny">
      <i class="fa fa-arrow-right"></i>
      <span>Next</span>
    </a>
    {{/unless}}
  </div>
</template>
