<template name="add_product">
  {{#autoForm collection="Products" id="add_produt_form" type="insert" omitFields="price.description"}}
  <div class="container pt">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-4 col-lg-offset-2">
        <h3>Add a Product</h3>
          <!-- {{> afQuickFields}} -->
          <div class="form-group">
            {{>afQuickField name="name"}}
          </div>
          <div class="form-group">
            {{>afQuickField name="description" rows=6}}
          </div>
          <div class="form-group">
            {{>afQuickField name="minOrderQuantity"}}
          </div>
          <div class="form-group">
            {{> afQuickField name="isStockable" type="boolean-select" trueLabel="Yes" falseLabel="No"}}
          </div>
          <div class="form-group">
            {{> afQuickField name="isService" type="boolean-select" trueLabel="Yes" falseLabel="No"}}
          </div>
          <div class="form-group">
            {{>afQuickField name="isVirtual" type="boolean-select" trueLabel="Yes" falseLabel="No"}}
          </div>
          <div class="form-group">
            {{>afQuickField name="isBuyable" type="boolean-select" trueLabel="Yes" falseLabel="No"}}
          </div>
          <div class="form-group">
            {{>afQuickField name="isSellable" type="boolean-select" trueLabel="Yes" falseLabel="No"}}
          </div>
          <div class="form-group">
            {{>afQuickField name="applyDiscount" type="boolean-select" trueLabel="Yes" falseLabel="No"}}
          </div>
          <div class="form-group">
            {{>afQuickField name="costPrice" step="0.01"}}
          </div>
          <div class="form-group">
            {{>afQuickField name="sellPrice" step="0.01"}}
          </div>
          <div class="form-group">
            {{>afQuickField name="warehousingDetails"}}
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
          <a href="/admin/bp" class="btn btn-default">Go Back</a>
      </div>
    </div>
  </div>
  {{/autoForm}}

</template>
