<template name="list_products">
  <div class="container pt">
    <div class="row">
      <div class="col-ls-6 col-md-6 col-xs-12 col-lg-offset-6 col-md-offset-6 pull-right">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search" id="productSearch">
          <span class="input-group-addon">
            <i class="fa fa-search" id="btnSearch"></i>
          </span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <h3>Your Products</h3>
        <a href="/main/products/add" class="btn btn-default btn-tiny footer-icons pull-right">
          <i class="glyphicon glyphicon-plus"></i>
          <span class="hidden-xs">Add a Product</span>
        </a>
        <br>
        <br>
      </div>
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->

  <div class="container pt">
    <div class="row">
      {{#each getMyProducts}}

      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="panel panel-default customer-card">
          <!-- <div class="panel-heading customer-card-heading"> -->
          <div class="panel-heading customer-card-heading">
            <h3 class="panel-title client-card-header">{{this.name}}</h3>
            <a href="/main/clients/timeline" id="view_timeline" class="btn btn-default btn-tiny btn-circle footer-icons pull-right">
              <!-- <i class="fa fa-1x fa-history timeline-font"></i> -->
              <i class="fa fa-history timeline-font"></i>
              <!-- <span class="hidden-xs hidden-sm hidden-md small">History</span> -->
            </a>
          </div>
          <!-- panel-heading -->
          <a href="/main/products/{{_id}}/edit" class="card-hover">
            <div class="panel-body">
              <p>
                {{getStock _id}}
              </p>
              <p>
                {{getSellPrice _id}}
            </p>
            </div>
            <!-- panel body -->
          </a>
          <div class="panel-footer">
            <!-- For now commenting the schedule functionality, need a redesign thought-->
            <!-- <a href="/main/events/add" id="add_event"
                  class="btn btn-default btn-tiny footer-icons ">
                    <i class="glyphicon glyphicon-calendar"></i>
                    <span class="hidden-xs hidden-sm hidden-md small">Schedule</span>
                  </a> -->

            <a href="#" id="attach_doc" class="btn btn-default btn-tiny footer-icons ">
              <i class="glyphicon glyphicon-shopping-cart"></i>
              <span class="hidden-xs hidden-sm hidden-md small">Add to Cart</span>
            </a>

            <a href="#" id="add_event" class="btn btn-default btn-tiny footer-icons ">
              <i class="glyphicon glyphicon-credit-card"></i>
              <span class="hidden-xs hidden-sm hidden-md small">Invoice</span>
            </a>
          </div>
          <!-- panel footer -->
        </div>
        <!-- panel client-card -->
      </div>
      <!-- col-lg-4 -->

      {{/each}}
    </div>
    <!-- row -->
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          {{#unless allProductsLoaded}}
          <a href="#" id="load_more" class="btn btn-default btn-tiny footer-icons ">
            <i class="glyphicon glyphicon-more"></i>
            <span>Load More</span>
          </a>
          {{/unless}}
      </div>
    </div>
  </div>
</template>
