<template name="sidebar">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <li class="sidebar-brand">
          <a href="#">
                        Feliz
                    </a>
        </li>
        {{#if currentUser}}
        <li class="dropdown">
          <a class="dropdown-toggle action_buttons" data-toggle="dropdown">
                    <td><i class="fa fa-users"></i></td><td>Business Partner<b class="caret"></b></td></a>
          <ul class="dropdown-menu sidebar-brand">
            <li><a href="{{pathFor 'list_customers'}}">Customers</a></li>
            <!-- <li><a href="{{pathFor 'list_vendors'}}">Vendors</a></li> -->
          </ul>
        </li>
        <li><a href="{{pathFor 'list_events'}}" class="action_buttons"><td><i class="fa fa-calendar"></i></td> <td>Appointments</td></a></li>
        <li><a href="{{pathFor 'list_campaigns'}}" class="action_buttons"><td><i class="fa fa-bullhorn"></i></td> <td>Campaigns</td></a></li>
        <li><a href="{{pathFor 'list_products'}}" class="action_buttons"><td><i class="fa fa-product-hunt"></i></td> <td>Products</td></a></li>
        <li><a href="{{pathFor 'list_orders'}}" class="action_buttons"><td><i class="fa fa-circle-o-notch"></i></td> <td>Orders</td></a></li>
        <li><a class="logout action_buttons"><td><i class="fa fa-power-off"></i></td> <td>Logout</td></a></li>
        {{else}}
            <li><a href="{{pathFor 'login'}}" class="action_buttons"><td><i class="fa fa-power-off"></i></td><td>Login</td></a></li>
        {{/if}}
      </ul>
    </div>


    <!-- /#sidebar-wrapper -->
</template>