@import url("http//fonts.googleapis.com/css?family=Montserrat400,700");
@import url("http//fonts.googleapis.com/css?family=Roboto400,300");
@import url("http//netdna.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.css");
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  background-color: #fcf5fc;
  color: #727272;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}
label {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  color: #727272;
}
/* Titles */
h1,
h2,
h3,
h4,
h5,
h6,
.date-color {
  color: #727272;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 3rem;
}
h1 {
  font-weight: 100;
  font-size: 2.1875rem;
  margin-top: 30px;
  margin-bottom: 30px;
  -webkit-margin-before: 0.67em;
  -webkit-margin-after: 0.67em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}
/* Paragraph & Typographic */
p {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  color: #727272;
  line-height: 28px;
  margin-bottom: 25px;
  -webkit-font-smoothing: antialiased;
}
.centered {
  text-align: center;
}
.btn {
  font-family: 'Roboto', sans-serif;
}
/* Links */
a {
  font-family: 'Roboto', sans-serif;
  word-wrap: break-word;
  -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
  -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
  -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
  -o-transition: color 0.1s ease-in, background 0.1s ease-in;
  transition: color 0.1s ease-in, background 0.1s ease-in;
}
a:hover,
a:focus {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  outline: 0;
}
a:before,
a:after {
  -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
  -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
  -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
  -o-transition: color 0.1s ease-in, background 0.1s ease-in;
  transition: color 0.1s ease-in, background 0.1s ease-in;
  font-family: 'Roboto', sans-serif;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #455a64;
  margin: 1px 0;
  padding: 0;
}
.navbar {
  text-transform: uppercase;
  margin-bottom: 0px;
  z-index: 100;
  background-color: transparent;
  height: 65px;
}
.navbar-inverse {
  height: 65px;
  background-color: #455a64;
  color: #fff;
}
.navbar-inverse .navbar-nav > li > a {
  font-weight: 400;
  color: #fff;
}
.navbar-brand {
  font-weight: 300;
  font-size: 1.6rem;
  letter-spacing: 2px;
}
.navbar-inverse .navbar-brand {
  color: #fff;
}
.progress-bar-theme {
  background-color: #455a64;
}
/* Helpers */
.mt {
  margin-top: 10px;
  margin-bottom: 10px;
}
.pt {
  padding-top: 10px;
  padding-bottom: 10px;
}
/* +++++ WRAP SECTIONS +++++ */
#ww {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #f2f2f2;
}
#footer {
  font-family: 'Roboto', sans-serif;
  background-color: #2f2f2f;
  padding-top: 10px;
  padding-bottom: 10px;
}
#footer p {
  font-family: 'Roboto', sans-serif;
  color: #fff;
}
#footer h4 {
  font-family: 'Roboto', sans-serif;
  color: #fff;
  text-transform: uppercase;
  padding-bottom: 10px;
}
/* +++++ Color Wraps / Blog Page +++++ */
#grey {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f2f2f2;
}
#white {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #fff;
}
/*Custom CSS for Roopkund */
/* glyphicon Configuration */
.glyphicon {
  color: #455a64;
}
.glyphicon,
.footer-icons {
  color: #727272;
  border-color: #455a64;
}
.glyphicon-menu-left,
.glyphicon-menu-right {
  font-size: 2.3rem;
  color: #455a64;
}
.footer-icons {
  font-family: 'Roboto', sans-serif;
  color: #727272;
  border-color: #455a64;
  transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.panel-info,
.panel-rating,
.panel-more1 {
  float: left;
  margin: 0 10px;
}
.panel-detail {
  float: right;
  margin-right: 10px;
}
.panel-body {
  color: #727272 !important;
}
.panel-footer {
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
}
.panel-heading {
  background-color: #607d8b !important;
  color: #fff !important;
}
.client-card {
  font-family: 'Roboto', sans-serif;
  color: #fff;
}
.client-card-header {
  font-family: 'Roboto', sans-serif;
  color: #fff !important;
  font-weight: 400;
  font-size: 1.1rem;
}
input[type="text"] {
  font-family: 'Roboto', sans-serif;
  color: #727272;
}
input[type="text"]focus,
search_glow {
  font-family: 'Roboto', sans-serif;
  border-color: #455a64;
  box-shadow: 0 1px 1px rgba(0,0,0,0.075) inset, 0 0 8px #1abc9c;
  outline: 0 none;
}
.footer {
  font-family: 'Roboto', sans-serif;
  background-color: #2f2f2f;
  padding-top: 10px;
  padding-bottom: 10px;
}
.footer p {
  font-family: 'Roboto', sans-serif;
  color: #fff;
}
.footer h4 {
  font-family: 'Roboto', sans-serif;
  color: #fff;
  text-transform: uppercase;
  padding-bottom: 10px;
}
.chosenDate {
  display: inline-block;
  text-align: justify;
  font-size: 1em;
}
.cal_spinner {
  background-color: #fff;
  display: inline-block;
  border: 1px;
  padding: 0;
  cursor: pointer;
  color: #727272;
  border-color: #455a64;
}
/*Choose Date CSS Override */
.spinDate {
  color: #727272;
  border-color: #455a64;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 4px;
}
.innserSpin {
  background-color: #fff !important;
  border: 0 0 0 0 !important;
  border-color: #fff !important;
}
.override-group-addon {
  background-color: #fff !important;
  border: 0 !important;
  padding: 2px 0px;
}
.btn-circle {
  font-family: 'Roboto', sans-serif;
  width: 35px;
  height: 35px;
  text-align: center;
  padding: 6px 0;
  font-size: 1.35rem;
  line-height: 1.428571429;
  border-radius: 15px;
  border-color: #455a64;
}
/*Timeline CSS Begins here*/
.timeline-badge {
  width: 35px;
  height: 35px;
  text-align: center;
  font-size: 1.35rem;
  border-radius: 35px;
  border-color: #455a64;
  z-index: 100;
  float: left;
  margin-left: -12px;
  margin-top: 25px;
  background-color: #455a64;
}
.timeline-badge:after {
  content: '';
  position: absolute;
  top: 0;
  left: 14px;
  height: 100%;
  width: 3px;
  background: #455a64;
  z-index: 106;
}
.inner-badge {
  color: #fff;
  position: relative;
  margin-top: 27%;
  margin-left: -3px;
  font-size: 1.4rem;
  z-index: 177;
}
.timeline-font {
  font-size: 1.4rem;
}
.timeline-panel {
  height: 33%;
}
.timeline-image {
  position: relative;
  margin-left: 39.25%;
}
/*Timeline CSS Ends here*/
.autoform-add-item,
.autoform-remove-item {
  border-color: #455a64;
  background-color: #fff;
}
.autoform-add-itemhover,
.autoform-remove-itemhover {
  background-color: #fff;
}
.btn-primaryhover {
  font-family: 'Roboto', sans-serif;
  border-color: #727272;
  background-color: #fff;
}
/*Message CSS Begins here*/
.modalClose {
  margin-top: -18px;
}
.smsText {
  font-family: 'Roboto', sans-serif;
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  border-color: #455a64;
  outline: 0 none;
}
td.active,
td > button.btn-primary {
  background-color: #727272 !important;
  border-color: #455a64;
}
.fa-clock-o,
.fa-arrow-up,
.fa-arrow-down,
.fa-calendar {
  color: #727272 !important;
}
