<template name="add_customer" id="add_customer">
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-71196130-1', 'auto');
    ga('send', 'pageview');

  </script>

  {{#autoForm collection="BusinessPartners" id="add_customer_form" type="insert"}}
  <div class="container pt">
      <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-4 col-lg-offset-3">
              <h3>Add your Customer</h3>
              <div class="form-group">
                {{>afQuickField name="name"}}
              </div>
              <div class="form-group">
                {{>afQuickField name="keyPersonName"}}
              </div>
              <!-- Commenting as dentacare does not want these fields -->
              <div class="form-group">
                {{>afQuickField name="isSearchable"}}
              </div>
              <div class="form-group">
                {{>afQuickField name="address"}}
              </div>
              <div class="form-group">
                {{>afQuickField name="phones"}}
              </div>
              <div class="form-group">
                {{>afQuickField name="emails"}}
              </div>
              <div class="form-group">
                {{>afQuickField name="website"}}
              </div>
              <!-- <div class="form-group">
                {{>afQuickField name="taxid"}}
              </div>
              <div class="form-group">
                {{>afQuickField name="vatid"}}
              </div> -->
              <button type="customer_submit" class="btn btn-primary">Submit</button>
              <a href="/admin/customers" class="btn btn-primary">Go Back</a>
          </div>
      </div>
  </div>
  {{/autoForm}}
</template>
