<template name="list_customers">
  {{> smsModal}}
  <div class="container pt">
    <div class="row">
      <div class="col-ls-6 col-md-6 col-xs-12 col-lg-offset-6 col-md-offset-6 pull-right">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search" id="customerSearch">
          <span class="input-group-addon">
            <i class="fa fa-search" id="btnSearch"></i>
          </span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <h3>Your Customers - (Total {{getCustomerCount}}/{{getCustomerTotalCount}})</h3>
        <a href="/main/customers/add" id="add_customer" class="pull-right">
            <i class="glyphicon glyphicon-plus"><span>Add a Customer</span></i>
        </a>
        <br>
        <br>
      </div>
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->

  <div class="container pt">
    <div class="row">
      {{#each getMyCustomers}}
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="panel panel-default customer-card">
          <!-- panel-heading -->
          <h3 class="client-card-header">{{this.name}}</h3>
          <a href="/main/customers/{{_id}}/edit" class="card-hover">
            <div class="panel-body">
              <p>
                {{#if this.phones.[0]}} {{this.phones.[0]}} {{else}} No Number Found. {{/if}}
              </p>
              {{#if this.emails.[0]}} {{this.emails.[0]}} {{else}} No Emails Found. {{/if}}
            </div>
            <!-- panel body -->
          </a>
          <div class="panel-footer">
            <!-- For now commenting the schedule functionality, need a redesign thought-->
            <a href="/main/events/add" id="add_event">
              <span>
                <i class="glyphicon glyphicon-calendar" style="text-align:center;padding-right:20px;"><br/><span class="small">Schedule</span></i></span>
            </a>

            <a href="#" id="sms_message">
              <span><i class="glyphicon glyphicon-comment" style="text-align:center;padding-left:20px;padding-right:20px;"><br/><span class="small">Message</span></i></span>
            </a>
              <a href="#" id="attach_doc">
                <span><i class="glyphicon glyphicon-paperclip" style="text-align:center;padding-left:20px;padding-right:20px;"><br/><span class="small">Attach</span></i></span>
              </a>

              <a href="#" id="add_invoice">
                <span><i class="glyphicon glyphicon-credit-card" style="text-align:center;padding-left:20px;padding-right:20px;"><br/><span class="small">Invoice</span></i></span>
              </a>
            <!-- </div> -->
            <a href="tel:{{phone}}" id="external_call" class="pull-right">
              <span><i class="glyphicon glyphicon-earphone" style="text-align:center;padding-left:20px;padding-right:20px;"><br/><span class="small">Call</span></i></span>
            </a>

          </div>
          <!-- panel footer -->
        </div>
        <!-- panel client-card -->
      </div>
      <!-- col-lg-4 -->

      {{/each}}
    </div>
    <!-- row -->
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        {{#unless allCustomersLoaded}}
        <a href="#" id="load_more" class="btn btn-default btn-tiny footer-icons ">
          <i class="glyphicon glyphicon-more"></i>
          <span>Load More</span>
        </a>
        {{/unless}}
      </div>
    </div>
  </div>

</template>
