<template name="list_events">
  <div class="container pt">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-lg-12 col-sm-12">
        <h6><small>Appointments For
          <span id="chosenDate" class="chosenDate set-due-date" data-provide="datepicker" data-date-format="DD.MM.YYYY"></span>
          </small>
        </h6>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-6 col-xs-6 pull-right">
        <a href="#" class="btn btn-default btn-tiny action_buttons pull-right" id="chooseDate">
          <i class="fa fa-calendar"></i>
          <span class="hidden-xs">Choose a Date</span>
        </a>
        <div class="pull-right">
          <a href="/main/events/add" class="btn btn-default btn-tiny action_buttons">
            <i class="fa fa-plus action_buttons"></i>
            <span class="hidden-xs">Add an Appointment</span>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="container pt">
    <div class="row">
      {{#each getEvents}}
      <div class="col-lg-6 col-md-6 col-sm-4 col-lg-offset-2">
        <div class="panel panel-default">
          <div class="panel-body">
            <span>
              <span class="dateView">{{formatDateTime eventDate}}</span>
              <br/>
              <span class="eventProductView">{{getProduct type}}</span>
              <span class="pull-right">{{getCustomer bp_predicate}}</span>
            </span>
          </div>
        </div>


      </div>
      {{/each}}
    </div>
    <!-- <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        {{#unless allEventsLoaded}}
        <a href="#" id="load_more" class="btn btn-default btn-tiny action_buttons">
          <i class="glyphicon glyphicon-more"></i>
          <span>Load More</span>
        </a>
        {{/unless}}
      </div>
    </div> -->
  </div>



</template>
