<template name="list_customers">
  {{> smsModal}}
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search" id="customerSearch">
        <span class="input-group-addon" id="btnSearch">
          <i class="fa fa-search"></i>
        </span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <h6>
        <small>Your Customers - (Total {{getCustomerCount}}/{{getCustomerTotalCount}})</small>
      </h6>
      <a href="/main/customers/add" id="add_customer" class="pull-right">
        <span>
          <i class="fa fa-plus action_buttons"> Add a Customer</i>
        </span>
      </a>
    </div>
  </div>
  <br/>
  <br/>

  <div class="row">
    {{#each getMyCustomers}}
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 small_card">
      <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4">
        <h6 class="main_value">
          <small>
            <a href="/main/customers/{{_id}}/edit">
              {{this.name}}
            </a>
          </small>
        </h6>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 hidden-xs hidden-sm hidden-md">
        <h6 class="secondary_value">
          <small>{{#if this.phones.[0]}} {{this.phones.[0]}} {{else}} No Number Found. {{/if}}</small>
        </h6>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 hidden-xs hidden-sm hidden-md">
        <h6 class="tertiary_value">
          <small>{{#if this.emails.[0]}} {{this.emails.[0]}} {{else}} No Emails Found. {{/if}}</small>
        </h6>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style="right:-55px;">

        <td>
          <h6>
            <small><a href="tel:{{phone}}" id="external_call"><i class="fa fa-phone card_action_buttons pull-right"></i></a></small>
          </h6>
        </td>

        <td>
          <h6>
            <small><a href="#" id="attach_doc"><i class="fa fa-paperclip card_action_buttons pull-right"></i></a></small>
          </h6>
        </td>
        <td>
          <h6>
            <small><a href="/main/events/add" id="add_event"><i class="fa fa-calendar card_action_buttons pull-right"></i></a></small>
          </h6>
        </td>
        <td>
          <h6>
            <small><a href="#" id="sms_message"><i class="fa fa-comment card_action_buttons pull-right"></i></a></small>
          </h6>
        </td>
        <td>
          <h6>
            <small><a href="#" id="add_invoice"><i class="fa fa-credit-card card_action_buttons pull-right"></i></a></small>
          </h6>
        </td>
      </div>

      <hr class="main_divider" />
    </div>
    {{/each}}
  </div>

  <div class="row">
    <a href="#" id="btnPrevious" class="btn btn-default btn-tiny">
      <i class="fa fa-arrow-left"></i>
      <span>Prev</span>
    </a>
    {{#unless loadedState}}
    <a href="#" id="btnNext" class="btn btn-default btn-tiny">
      <i class="fa fa-arrow-right"></i>
      <span>Next</span>
    </a>
    {{/unless}}
  </div>
  <!-- </div> -->

</template>
